# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.sh text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.env text eol=lf

# Declare binary files to be left untouched.
*.jpg binary
*.png binary
*.gif binary
*.exe binary
*.dll binary
