name: Build and Push Docker Images

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [alpine, ubuntu]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build docker for alpine
        if: matrix.os == 'alpine'
        run: |
          mkdir tmp && cd tmp
          eval `ssh-agent -s`
          ssh-add - <<< "${{ secrets.PRIVATE_SSH_KEY }}"
          git clone git@github.com:cristianglezm/EcoSystem.git
          cd ..
          chmod +x build_docker.sh
          ./build_docker.sh "${{ matrix.os }}"

      - name: build docker for ubuntu
        if: matrix.os == 'ubuntu'
        run: |
          chmod +x build_docker.sh
          ./build_docker.sh "${{ matrix.os }}"

      - name: Push Docker image to registry
        run: |
          docker push cristianglezm/fe:backend-${{ matrix.os }}-dev
